#abilityShop {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    width: 90%;
    max-width: 500px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    background-image: url("newTitleImg.png");
}
.abilityShop{
  background-image: url("all_background.jpg");
}
.characterDisplay {
    width: 50%;
    height:30vw;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.characterView {
    width: 90%;
    height: 25vw;
    max-width: 300px;
    aspect-ratio: 3 / 4;
}
.characterLevel {
    width: 90%;
    max-width: 300px;
    height: 4vw;
    font-size: 1.5vw;
    text-align: center;
    line-height: 60px;
    margin-top: 15px;
    color: white;
}
.abilityDisplay {
    width: 50%;
    height: 30vw;
    float: left;
}
.abilityView1,.abilityView2,.abilityView3 {
    margin: 7% auto;
    width: 90%;
    max-width: 300px;
    height: 7.5vw;
    background-color: rgba(197, 171, 147, 0.723);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.3vw;
    line-height: 2vw;
}
.abilityShop #leftUpperWrapper1, .abilityShop #leftUpperWrapper2,.abilityShop #leftUpperWrapper3, .abilityShop #leftUpperWrapper4{
    width: 100%;
    height: auto;
    display: none;
    background-color: rgba(101, 61, 24, 0.529);
    box-shadow: 10px 10px 10px rgba(85, 60, 40, 0.4);
}
.abilityShop #buttonDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 1.7vw;
}
#levelupButton, #characterButton {
    width: 15vw;
    max-width: 150px;
    height: 3.5vw;
    font-size: 1.3vw;
    padding-top: 1vw;
    text-align: center;
    background: linear-gradient(to bottom, #643c1f, #7a4b25);
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
#levelupButton:hover {
    transform: scale(1.07);
}
#levelupButton {
    border-radius: 30px 0 0 30px;
}
#characterButton:hover {
    transform: scale(1.07);
}
#characterButton {
    border-radius: 0 30px 30px 0;
}
.abilityShop #descriptionPopUp1,
.abilityShop #descriptionPopUp2,
.abilityShop #descriptionPopUp3 {
    width: 80%;
    height: 20vw;
    min-height: 300px;
    background: linear-gradient(to bottom, #643c1f, #7a4b25);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 60px auto;
    display: none;
    text-align: center;
    padding: 40px;
    font-size: 1.3vw;
    line-height: 2vw;
}
#character_popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    height: 690px;
    background-color: rgba(81, 48, 18, 0.691);
    z-index: 1000;
}
#popup_content {
    margin: 20px auto 0 auto;
    background: rgba(255, 255, 255, 0.846);
    width: 90%;
    max-width: 465px;
    height: 600px;
    border-radius: 10px;
    text-align: center;
}
#saveAndCloseBtn, #closePopupBtn {
    position: fixed;
    top: 630px;
    width: 150px;
    height: 50px;
    background-color: rgba(137, 116, 97, 0.553);
    border-radius: 40px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
#saveAndCloseBtn {
    left: 50%;
    transform: translateX(-120%);
}
#closePopupBtn {
    left: 50%;
    transform: translateX(20%);
}
.character_hold {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 450px;
    height: 150px;
    border-bottom: 1px solid #643c1f;
}
#character_hold1{
    top: 20px;
}
#character_hold2{
    top: 170px;
}
#character_hold3{
    top: 320px;
}
#character_hold4{
    top: 470px;
}
.character_hold_view, #popup_content .characterLevel{
    float: left;
}
.character_hold_view{
    padding-left: 30px;
    padding-top: 7px;
}
#popup_content .characterLevel{
    padding-top: 20px;
}