*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	margin: 0 auto;
}
/*기본 사항*/

/*header*/
header{
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin: 10px auto;
    background-color: rgb(125, 192, 255);
}
.topBar{
    float: left;
    height: 40px;
    background-color: blue;
    display: inline-flex;
    align-items: center;
}
#levelBar, #lifeBar, #coinBar{
    width: 450px;
    border-radius: 50px;
    margin: 10px 45px;
}
#settingButton{
    width: 40px;
    border-radius: 100px;
    margin: 10px 0;
}
.topBarIcon{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: blanchedalmond;
}/*실제로는 아이콘 이미지를 넣을 것*/
.barView {
    width: 400px;
    height: 30px;
    background-color: rgb(144, 27, 27);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#levelFill{
    height: 100%;
    width: 90px;
    background-color: #FFD700;
    transition: width 0.3s ease;
    border-radius: 20px 0 0 20px;
}
#lifeView img{
    margin-right: 30px;
    display: inline;
}
#lifeIcon_img1{
    margin-left: 30px;
}
#coinView{
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}
#coinIcon_img1{
    padding: 2px 0 0 3px;
}
#lifeIcon_img0{
    padding: 3.7px 0 0 3px;
}
/*footer*/
footer{
overflow: hidden;
width: 100%;
height: 80px;
margin: 10px auto;
/*background-color: rgb(238, 158, 145);*/
background-image: url("all_background.jpg");
}
.bottomButton{
float: left;
width: 300px;
height: 60px;
background-color:brown;
border-radius: 50px;
margin: 10px 50px;
font-size: 50px;
text-align: center;
line-height: 60px;
}
#backVillageButton{
width: 450px;
height: 60px;
}
#backButton{
margin-left: 300px;
width: 300px;
height: 60px;
}
#startButton{
width: 300px;
height: 60px;
}
/*footer*/